header {
  background-color: #222;
  height: 75px;
  width: 100%;
  padding: 20px;
  color: white;
  display: flex;
}

header ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 90%;
  list-style-type: none;
}

header ul li {
  padding: 20px;
  font-size: 26px;
  text-decoration: none;
}

header ul li a {
  text-decoration: none;
  color: #fff;
}
